.expense-container{

  padding: 20px;
  max-width: 300px auto;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0,0,0,1.2);
    border-radius: 8px;
}
input[type="text"],select,input[type="number"],input[type="submit"]{
    margin-bottom: 20px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}
input[type="submit"]{
    background-color: #4caf5d;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #45a059;

}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border:1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th{
    background-color: #4caf5d;
    color: white;
}